@page "/CreateAccount"

@using System.Net.Http
@using System.Net.Http.Json
@using WebApp.Models

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Create Account</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100 bg-dark text-white">
    <EditForm Model="@user" OnValidSubmit="HandleValidSubmit" class="text-center w-25" FormName="CreateAccount">
        <h1 class="mb-5">Create an Account</h1>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="user.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="user.Email" class="form-control" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-4">Create Account</button>
    </EditForm>
</div>

@code {
    private AccountDetails user = new AccountDetails();

    protected override void OnInitialized()
    {
        // Inicializace modelu
        user = new AccountDetails();
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine($"Email: {user.Email}");
        Console.WriteLine($"Username: {user.Name}");
        Console.WriteLine($"Password: {user.Password}");

        if (user != null)
        {
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var response = await httpClient.PostAsJsonAsync("api/AccountDetails", user);
            
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/HomeManager");
            }
            else
            {
                Console.WriteLine("Error: " + response.ReasonPhrase);
            }
        }
    }
}
